<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ALL USERS</title>
</head>
<body>
<p>Users list:</p>

<table>
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">

        <td th:text="${user.getUsername()}">
        <td th:text="${user.getEmail()}">
        <td th:text="${user.getRoles()}">

        <td>
            <form th:method="GET" th:action="@{/admin/edit/{id}(id=${user.getId()})}">
                <input type="submit" value="Change">
            </form>
        </td>

        <td>
            <form th:method="DELETE" th:action="@{/admin/deleteUser/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
<br/>
<hr/>
<input type="button" value="Add"
       onclick="window.location.href = 'admin/addUser'"/>
<br>
<br>
<a href="/logout">Logout</a>
</html>

