<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<h2>Страница пользователя</h2>
<table class="User">
    <thead>
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Email</th>
        <th scope="col">Права доступа</th>
    </tr>
    </thead>
    <tbody>
    <tr>

        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getEmail()}"/>
        <td th:text="${user.getRoles()}"/>
<!--        <td th:each="role : ${user.getRoles()}" th:text="${role.getRole()}"></td>-->
    </tr>

    </tbody>
</table>
<a href="/logout">Logout</a>

</body>
</html>